<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="43" stopProcessing="true">
                    <match url="^xy_activity/(.*)" />
                    <action type="Rewrite" url="https://192.168.169.49/xy_activity/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
